<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportsera</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="css/current.css">
    <script  src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/loginscript.js"></script> 
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
<!--
<p>hello</p>
<% console.log(status); %>
<% if(!status){ %>
<p><h1><center>No Bookings yet</center></h1></p>
<% } else { %>
<% for (var i = 0;i<status.length;++i) { %>
<p>Groundname: <%=status[i]["groundname"]%></p>
<p>Time slot: <%=status[i]["time"]%></p>
<% } } %>
-->

    <% if(status.length==0){ %>
    <div class="container">
        <p><h1><center>NO BOOKINGS YET!</center></h1></p>
    </div>
    <% } else { %>
        <table id="content-table" class="w3-animate-zoom">
            <thead>
            <tr>
                <th>Serial No.</th>
                <th>Ground Name</th>
                <th>Time Slot</th>
            </tr>
            </thead>
            <tbody>
            <%
                for (var i = 0;i<status.length;++i) {
            %>
            <tr>
                <td><%=i+1;%></td>
                <td><%=status[i]["groundname"]%></td>
                <td><%=status[i]["time"]%></td>
            </tr>
            <% } %>
           </tbody>
         </table>
    <% } %>
</body>
</html>
