<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sportsera</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="css/pages.css">
    <script  src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/require.js"></script>
    <script src="../js/loginscript.js"></script>
	<link rel="stylesheet" href="css/pages.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
<!--<p>hello</p>-->
<% console.log(places); %>
<!--  if(places[0]["gid"]==101) { %> -->
<!-- <a href="/booking">ok</a> -->
<!--  } %> -->
<!--
<% for (var i = 0;i<places.length;++i) { %>
<a href="/booking?gid=<%=places[i]["gid"]%>">Ground Name: <%=JSON.stringify(places[i]["groundname"])%></a><br>
<p>Location: <%=JSON.stringify(places[i]["location"])%></p>
<p>Rating: <%=JSON.stringify(places[i]["rating"])%></p>
<% if(places[i]["tid"]==1) { %>
<p>Timing - 8:00 am</p>
<% } else if(places[i]["tid"]==2) { %>
<p>Timing - 12:00 pm</p>
<% } else if(places[i]["tid"]==3) { %>
<p>Timing - 4:00 pm</p>
<% } else if(places[i]["tid"]==4) { %>
<p>Timing - 8:00 pm</p>
<% } %>
<br>
<% } %>
-->

<table class="content-table">
    <thead>
    <tr>
        <th>Serial No.</th>
        <th>Ground Name</th>
        <th>Location</th>
        <th>Rating</th>
        <th>Timing</th>
    </tr>
    </thead>
    <tbody>
    <%
        for (var i = 0;i<places.length;++i) {
    %>
    <tr>
        <td><%=i+1; %></td>
        <td><a href="/booking?gid=<%=places[i]["gid"]%>"><%=JSON.stringify(places[i]["groundname"])%></a></td>
        <td><%=JSON.stringify(places[i]["location"])%></td>
        <td><%=JSON.stringify(places[i]["rating"])%></td>
        <td><% if(places[i]["tid"]==1) { %>
            8:00 am
            <% } else if(places[i]["tid"]==2) { %>
            12:00 pm
            <% } else if(places[i]["tid"]==3) { %>
            4:00 pm
            <% } else if(places[i]["tid"]==4) { %>
            8:00 pm
            <% } %>
         </td>
    </tr>
    <% } %>
   </tbody>
 </table>
</body>
</html>